.licenca-gradientCard {
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(#1F1B42, #1F1B42) padding-box,
                linear-gradient(to right, hsl(180, 100%, 50%), hsl(300, 100%, 50%)) border-box;
    border-radius: 40px;
    border-color: transparent;
    font-size: 23px;
    color: #ffff;
    text-align: center;
    width: 250px;
    height: 50px;
    padding: 20px 10px 20px 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}

@media only screen and (max-width: 480px){
    .licenca-gradientCard{
        font-size: 15px;
        color: #ffff;    
        padding: 10px 5px 10px 5px;
    }
}