.home-graph-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.home-graph {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    height: 80%;
    margin: 0px 40px 0px 40px;
}

.home-column-graph {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.home-graph-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-width: 2px 1px;
    border-style: solid;
    border-color: #54526c;
    border-radius: 20px;
    background-color: #0f0b30;
    margin: 10px;
}

.home-graph--rigth-content{
    height: 490px;
    max-height: 490px;
    width: 490px;
    /* max-width: 490px; */
    overflow: hidden;
    display: flex;
}

.messages--workers-content{
}

.home-graph-messages-item-visible{
    /* border: yellow solid 2px; */
    position: relative;
    overflow: auto;
    transition: all ease 2s;
    display: block;
}
.home-graph-messages-item-hidden{
    display: none;
}

.home-graph-item img{
    width: 60%;
}

.home-graph-title {
    margin: 10px;
}

.home-graph-workers-item-visible {
    width: 100%;
    padding: 10px;
    overflow: auto;
    position: relative;
    display: block;
}

.home-graph-workers-item-hidden {
    display: none;
    border: orange solid 3px;
}

.home-graph-item .circle-icons {
    display: flex;
    width: 65px;
    align-items: center;
    margin: 50px auto;
    justify-content: space-between;
}

.home-graph-content-1 {
    display: flex;
    justify-content: center;
}

.welcome{
    display: flex;
    justify-content: center;
}