* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.div--mainBox{
    height: 100vh;
    width: 100%;
    background-image: 
            linear-gradient(45deg,
            rgb(0, 5, 82),  
            rgb(30, 0, 82), 
            rgb(77, 8, 126));
}

.about--content{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
}

.subtitle{
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.header--title{
    font-size: 70px;
    color: #7879F1;
    font-weight: bolder;
}

.about--onhome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: lighter;
    margin: auto;
    width: 33%;
    height: 120px;
}

.down--arrow{
    margin-top: 200px;
    animation: 1s up-and-down infinite alternate;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-40px);
    }
}

.solutions {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 5, 82);
}



