.div--mainBox {
    background-color: #0F0B30;
    display: flex;
}

.div--mainGradient{
    height: 100vh;
    width: 100%;
    /* background: rgb(15,11,48);
    background: linear-gradient(5deg, rgba(15,11,48,1) 16%, rgba(23,0,82,1) 39%, rgba(41,7,106,1) 58%, rgba(91,8,126,0.9416360294117647) 100%); */
    /* background: rgb(15,11,48);
    background: linear-gradient(5deg, rgba(15,11,48,1) 16%, rgba(23,0,82,0.913624824929972) 39%, rgba(41,7,106,1) 58%, rgba(91,8,126,0.9416360294117647) 100%); */
    background: #0f0b30;
    background: linear-gradient(5deg, rgba(15,11,48,1) 16%, rgba(23,0,82,0.913624824929972) 39%, rgba(41,7,106,1) 58%, rgba(118,0,150,0.7679665616246498) 100%);


}

.about--content{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
}

.subtitle{
    font-size: 35px;
    color: white;
    font-weight: lighter;
}

.header--title{
    font-size: 70px;
    color: #7879F1;
    font-weight: bolder;
}

.about--onhome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: lighter;
    margin: auto;
    width: 33%;
    height: 120px;
}

.down--arrow{
    margin-top: 100px;
    animation: 1s up-and-down infinite alternate;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-40px);
    }
}

.solutions {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F0B30;
}



