.formulario--background {
    height: 100vh;
    width: 100%;
    background: #080425;
}

.formulario--gradientBackground {
    height: 100%;
    background: linear-gradient(9deg, rgba(8,4,37,0.8379945728291316) 14%, rgba(92,1,188,0.23855479691876746) 68%, rgba(255,0,201,0.18253238795518212) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario--label {
    color: white;
    margin: 10px;
}

.formulario--buttons{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.formulario--buttons button:disabled{
    display: none;
}

.container__error {
    height: 20px;
    color: rgb(226, 226, 226);
    font-size: 10px;
}