.deleteModal__blur{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000009d;
}

.deleteModal__modal{
    margin: 18% auto;
    padding: 10px;
    background-color: #fff;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    color: black;
}

.deleteModal__modal h2{
    padding: 20px;
}

.deleteModal__modal p{
    padding: 20px;
    font-size: 18px;
}

.deleteModal__modal span{
    color: magenta;
}

.deleteModal__buttons{
    margin: 20px 40px;
    font-weight: 700;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.deleteModal__buttons:first-of-type:hover{
    color: red;
    transform: scale(1.2);
    transition: ease 0.5s;

}