.footer--container {
    background-color: #1F1B42;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

@media (max-width: 999px) {
    .footer--container {
        flex-direction: column;
    }
}

.footer--description {
    text-align: left;
    width: 250px;
}

.footer--icons {
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 50%;
}

.footer--links {
    display: flex;
    text-align: left;
    color: #fff;
}

@media (max-width: 999px) {
    .footer--links {
        flex-direction: column;
    }
}

.footer--list {
    display: flex;
    flex-direction: column;
}

.footer--link--title {
    margin: 20px 0;
}

.footer--option {
    font-weight: 300;
}