/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(to bottom, rgb(39, 1, 109), rgb(31, 0, 96), rgb(73, 0, 70));;
  } */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container--map {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(39, 1, 109), rgb(31, 0, 96), rgb(73, 0, 70));;

}

.controls {
  width: 20%;
  padding: 5px 20px;
  background: linear-gradient(to bottom, rgb(39, 1, 109), rgb(31, 0, 96), rgb(73, 0, 70));;
  /* background: linear-gradient(#080425, #080425) padding-box;  */
}

.controls .controls-title{
  color: #9393f8;
  font-size: 40px;
  margin: 30px 0px 30px 0px;
}

.map-container {
  width: 96%;
  margin-top: 40px;
  height: 92vh;
  
  padding: 5px 20px;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(#080425, #080425) padding-box,
                linear-gradient(to right, hsl(180, 100%, 50%), hsl(300, 100%, 50%)) border-box;
    border-radius: 20px;
    border-color: transparent;
    color: white;
}

.map {
  width: 80%;
  height: 100vh;
}

.highlight {
  font-size: 1.25rem;
  font-weight: bold;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  height: 38px;
  padding: 5px 20px;
    background: linear-gradient(#15112b, #080425) padding-box, 
                linear-gradient(to right, hsl(180, 100%, 50%), hsl(300, 100%, 50%)) border-box;
    border-radius: 42px;
    border-color: transparent;
    color: white;
}

.response-p {
  color: white;
}
