* {
    padding: 0;
    margin: 0;
}

.title {
    display: flex;
}

.title .config--title{
    margin-right: 100%;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards > * {
    flex: 1;
    flex-grow: 1;
}
.empresa-plano {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.endereco {
    display: flex;
}
.endereco .border-gradient {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards-title{
    color: white;
    font-size: 20px;
}

.cards-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
}

.paragraph-card{
    padding-top: 10px;
    font-weight: lighter;
    margin: 3px 0 3px 0;
}

.div-input {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 30px;
}

.endereco .button-right {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}
.endereco .button-right button {
    padding: 0 20px;
    width: fit-content;
}