.maquinas-container {
    margin: 10px 20px;
}

.maquinas-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maquinas-header .maquinas-legend {
    display: flex;
    flex-direction: column;
    color: white;
}

.maquinas-header .maquinas-legend ul,
.maquinas-header .maquinas-legend li {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    font-weight: initial;
}

.maquinas-header .maquinas-legend ul li:hover{
    font-weight: bold;
}

.maquinas-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* max-width: 1100px; */
    overflow-y: auto;
    height: calc(100vh - 150px) ;
}

.maquinas-content div {
    color: #fff;
}