.licenca--gradientSelect {
    padding: 5px 20px;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(#080425, #080425) padding-box,
                linear-gradient(to right, hsl(180, 100%, 50%), hsl(300, 100%, 50%)) border-box;
    border-radius: 42px;
    border-color: transparent;
    background-color: #080425;
    color: white;
    margin: 10px;
}

.formulario--licencaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.licenca--selects{
    margin: 30px;
}

.planos--cards{
    display: flex;
}

@media only screen and (max-width: 480px){
    .planos--cards{
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        max-width: 200px;
    }
}