.registered-users {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 10px;
 }

.cadastrados-border{
    display: flex;
    flex-direction: column;
}

.cadastrados-title{
    margin-bottom: 25px;
    font-weight: lighter;
    text-align: center;
}

.usuarios-gradient .border-gradient {
    margin-top: 20px;
    height: 600px;
}