#dropdown {
    display: none;
}
label.dropdown {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
input[type="checkbox"]:not(:checked) ~ nav {
    margin-left: 0px;
    transition: all 400ms;
}
input[type="checkbox"]:checked ~ nav {
    margin-left: -230px;
    transition: all 400ms;
}
input[type="checkbox"]:checked + .hamburger-icon .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
input[type="checkbox"]:checked + .hamburger-icon .mid-bar {
    opacity: 0;
}
input[type="checkbox"]:checked + .hamburger .bot-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: all 400ms;
}
.top-bar {
    transform: rotate(0);
}
.mid-bar {
    opacity: 1;
}

.menu {
    display: flex;
}
.navbar {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
.navbar ul {
    list-style-type: none;
    padding: 0;
}
.navbar ul:hover {
    font-weight: normal;
}
.navbar li {
    font-weight: normal;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover {
    font-weight: bold;
}
.navbar .border-gradient {
    padding: 32px;
    border-width: 2px;
    border-style: solid;
    background: linear-gradient(rgb(0, 5, 82), rgb(0, 5, 82)) padding-box,
                linear-gradient(to right, hsl(180, 100%, 50%), hsl(300, 100%, 50%)) border-box;
    border-radius: 14px;
    border-color: transparent;
}
.navbar ul {
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-align: left;
}
.navbar ul li a {
    display: block;
    padding: 20px 0;
}